extends layout

block content
  h1 Welcome to my Website
  p My name is: Sean Hussey
  <p> Links to my webpages </p>

  <a href = "https://fathomless-beach-63422.herokuapp.com/simple-page.html">Simple Web Page</a>
  <br>
  <a href = "https://fathomless-beach-63422.herokuapp.com/resume.html">Resume</a>