body {
    padding: 50px;
    position: relative;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px;
}
table{
    border: solid black;
}
tr{
    border: solid black;
}
th{
    border-right: solid black;
    border-bottom: solid black;
    width: 10%;
    text-align: left;
}
h2{
   vertical-align: center;
    horiz-align: center;
}

#Blackline{
    color:white;
    background-color: black;
}

#Lastline{
    background-color: darkgreen;
}
#Red{
    background-color: mistyrose;
    width: 4%;
    vertical-align: text-top;
    text-align: left;
}
#Yellow{
    background-color: lightgoldenrodyellow;
    width: 0.5%;
    vertical-align: text-top;
    text-align: left;

}
/*#skinny{*/
/*    width: 5%;*/
/*}*/
/*#thick{*/
/*    width: 50%;*/
/*}*/

 div { background-color: white}
#content {
    padding:5px;
    border: 45px solid darkseagreen;
    margin: 5px;
    width: 845px;
    outline: solid black;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: center;
    horizontal-align: center;
}
h2 {
    float: left;
}
